<!-- <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<!-- <body  class="container"> -->

  <div class="slider"  *ngFor="let items of data" style="overflow: hidden; position: relative;">
      <br>
      <span class="title" dir="ltr"><a href="{{items.linkurl}}" target="_blank">{{items.title}}</a></span>
      <br>
      <span class="date">{{items.publishedAt | date : 'yyyy-MM-dd'}} | </span><span class="source">AfricaBio News</span>
      <br>
      <span  class="source" dir="ltr">{{items.description}}</span>
      <br>
  </div>

<!-- <div style="overflow: hidden; position: relative; height: 1723px; width: 958px;" *ngFor="let items of data">
  <span class="title" dir="ltr"><a href="{{items.linkurl}}" target="_blank">{{items.title}}</a></span>
  <span class="date">{{items.publishedAt | date : 'yyyy-MM-dd'}} | </span><span class="source">AfricaBio News</span>
    <br>
  <div class="source" dir="ltr">{{items.description}}</div>
    <br>
</div> -->

<!-- </body> -->
<!-- 
<router-outlet></router-outlet> -->
